/* addNewBus.css */

.add-new-bus-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

.form-group input:focus {
    border-color: #3498db;
}

.form-group input::placeholder {
    color: #ccc;
}

.add-button {
    margin-top: auto;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: fit-content; /* Adjusted width to fit the content */
    margin: 0 auto; /* Center the button */
}

.add-button:hover {
    background-color: #2980b9;
}

.add-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
