/* busTimetable.css */
body {
  background: linear-gradient(135deg, #e0f7fa, #f0f5f9); /* Gradient background */
  color: #333; /* Dark text color */
}

.bus-timetable-container {
    max-width: 1000px;
    margin: 60px auto;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #9edce4;
  }
  
  .bus-timetable-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .search-container select {
    padding: 10px;
    width: 10%;
    border: 1px solid #90caf9;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    margin-left: 10px;
    height: 40px; /* Adjust the height to match the search input */
    background: #e0f7fa;
  }
  
  .search-input {
    padding: 10px;
    width: 40%;
    border: 1px solid #90caf9;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    background: #e0f7fa;
  }
  
  .search-input::placeholder {
    color: #aaa;
  }
  
  .bus-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-heading {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 2px solid #90caf9;
    font-weight: bold;
    color: #333;
    background: #bbdefb;
    text-transform: uppercase;
  }
  
  .bus-table tbody tr {
    border-bottom: 1px solid #ccc;
  }
  
  .bus-table tbody tr:last-child {
    border-bottom: none;
  }
  
  .bus-table td {
    padding: 15px 10px;
    font-size: 16px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .action-button {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  
  .action-button.delete {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .action-button.update {
    background-color: #3498db;
    color: #fff;
  }
  
  .action-button.view {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .action-button:hover {
    opacity: 0.8;
  }
  
  .action-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  /* Styles for the search filter dropdown */
  .search-container select {
    padding: 10px;
    width: 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    margin-left: 490px;
  }
  
  .add-bus-button {
    padding: 10px 20px;
    margin: 20px;
    margin-left: 1150px;
    border: none;
    border-radius: 5px;
    background-color: #3498db; /* Blue color */
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-bus-button:hover {
    background-color: #2980b9; /* Darker blue color on hover */
  }
  
  
  
  